// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {margin:0;padding:0;}

#container{
  width:950px;
  margin: 0 auto;
}

h1{display:inline-block;}

#alert{
  color:#FFF;
  background:red;
  display:block;}

.item-box{
  width:300px;
  height:100%;
  display:inline-block;
}

.btn {padding:5px; text-decoration:none; border-radius:5px; border:1px solid #000;}